<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Pozycje budżetowe</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
<h2>Lista pozycji budżetowych</h2>

<table>
    <thead>
        <th>Pozycja</th>
        <th>Opis</th>
        <th>Status płatności</th>
    </thead>
{% for budget in budgets %}
    <tr>
        <td><a href="/budgets/{{ loop.index}}">{{ budget.position}}</a></td>
        <td>{{ budget.description }}</td>
        <td>{{ budget.payment_status}}</td>
    </tr>
{% endfor %}
</table>

<div>
    <h2>Dodaj nową pozycję budżetową:</h2>
    <form method="POST" action="/budgets/">
        {{ form.hidden_tag }}
        <table>
            {% for field in form if field.widget.input_type !='hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{endif}</th>
                    <th>{{ field }}</th>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Dodaj">
    </form>
</div>
</body>
</html>